@charset "UTF-8";
/**
 * Foundation for Sites by ZURB
 * Version 6.4.1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
#spectacle {
    /*

  Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

  */
}

#spectacle .swagger-operation-path:before {
    content: "Path";
    display: block;
    margin-bottom: 0.5em;
    color: #f68b1f;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#spectacle .swagger-operation-description:before {
    content: "Description";
    display: block;
    margin-bottom: 0.5em;
    color: #f68b1f;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#spectacle .swagger-request-params:before {
    content: "Request parameters";
    display: block;
    margin-bottom: 0.5em;
    color: #f68b1f;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#spectacle .swagger-request-body:before {
    content: "Request body";
    display: block;
    margin-bottom: 0.5em;
    color: #f68b1f;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#spectacle .swagger-request-body .json-schema-properties:before {
    display: none;
}

#spectacle .swagger-responses:before {
    content: "Responses";
    display: block;
    margin-bottom: 0.5em;
    color: #f68b1f;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#spectacle .swagger-global:before {
    display: inline-block;
    padding: 0.33333rem 0.5rem;
    border-radius: 0;
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    background: #cc4b37;
    color: #fefefe;
    font-size: 0.75rem;
    border-radius: 4px;
    padding: 3px 6px;
    content: "global";
}

#spectacle table.table th.swagger-param-key {
    width: auto;
}

#spectacle table.table th.swagger-param-key:before {
    content: "Key";
}

#spectacle table.table th.swagger-param-name {
    width: auto;
}

#spectacle table.table th.swagger-param-name:before {
    content: "Name";
}

#spectacle table.table th.swagger-param-description {
    width: auto;
}

#spectacle table.table th.swagger-param-description:before {
    content: "Description";
}

#spectacle table.table th.swagger-param-data-type {
    width: auto;
}

#spectacle table.table th.swagger-param-data-type:before {
    content: "Data type";
}

#spectacle table.table th.swagger-param-type {
    width: auto;
}

#spectacle table.table th.swagger-param-type:before {
    content: "Type";
}

#spectacle table.table th.swagger-request-security-schema {
    width: auto;
}

#spectacle table.table th.swagger-request-security-schema:before {
    content: "Schema";
}

#spectacle table.table th.swagger-request-security-scopes {
    width: auto;
}

#spectacle table.table th.swagger-request-security-scopes:before {
    content: "Scopes";
}

#spectacle table.table th.swagger-response-header-name {
    width: auto;
}

#spectacle table.table th.swagger-response-header-name:before {
    content: "Header";
}

#spectacle table.table th.swagger-response-header-description {
    width: auto;
}

#spectacle table.table th.swagger-response-header-description:before {
    content: "Description";
}

#spectacle table.table th.swagger-response-header-data-type {
    width: auto;
}

#spectacle table.table th.swagger-response-header-data-type:before {
    content: "Data type";
}

#spectacle table.table th.swagger-response-code {
    width: auto;
}

#spectacle table.table th.swagger-response-code:before {
    content: "Code";
}

#spectacle table.table th.swagger-response-description {
    width: auto;
}

#spectacle table.table th.swagger-response-description:before {
    content: "Description";
}

#spectacle table.table th.swagger-response-schema {
    width: auto;
}

#spectacle table.table th.swagger-response-schema:before {
    content: "Schema";
}

#spectacle .swagger-response-name-value {
    font-weight: bold;
}

#spectacle .swagger-response-description-text {
    padding-bottom: 0.5em;
}

#spectacle .swagger-request-security:before {
    content: "Security";
    display: block;
    margin-bottom: 0.5em;
    color: #f68b1f;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#spectacle .swagger-security-definition-basic:before {
    color: #cacaca;
    content: "(HTTP Basic Authentication)";
}

#spectacle .swagger-security-definition-oauth2:before {
    color: #cacaca;
    content: "(OAuth2 Authentication)";
}

#spectacle .swagger-security-definition-apiKey:before {
    color: #cacaca;
    content: "(API Key Authentication)";
}

#spectacle .json-schema-description:before {
    content: "Description";
    display: block;
    margin-bottom: 0.5em;
    color: #f68b1f;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#spectacle .json-schema-properties:before {
    content: "Properties";
    display: block;
    margin-bottom: 0.5em;
    color: #f68b1f;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#spectacle .json-schema-properties dl {
    margin: 0;
}

#spectacle .json-schema-properties dt {
    margin-bottom: .25rem;
}

#spectacle .json-schema-properties dt.has-description {
    margin-bottom: 0;
}

#spectacle .json-schema-properties dd {
    color: #8a8a8a;
}

#spectacle .json-schema-properties dd:not(:last-child) {
    padding-bottom: 0.5rem;
}

#spectacle .json-schema-description + .json-schema-properties {
    margin-top: 1.5rem;
}

#spectacle .json-schema-ref-array:before {
    color: #8a8a8a;
    content: "Array<";
}

#spectacle .json-schema-ref-array:after {
    color: #8a8a8a;
    content: ">";
}

#spectacle .json-schema-example:before {
    content: "Example";
    display: block;
    margin-bottom: 0.5em;
    color: #f68b1f;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#spectacle .json-schema-array-items:before {
    content: "Items";
    display: block;
    margin-bottom: 0.5em;
    color: #f68b1f;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#spectacle .json-schema-allOf-inherited:before {
    content: "Inherited";
    display: block;
    margin-bottom: 0.5em;
    color: #f68b1f;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#spectacle .json-schema-anyOf > dl {
    padding-left: 1em;
}

#spectacle .json-schema-anyOf > dl dt:not(:first-child):before {
    content: "or ";
}

#spectacle .json-schema-anyOf > dl dt:first-child:before {
    content: "either ";
}

#spectacle .json-schema-additionalProperties:before {
    content: "Additional properties";
    display: block;
    margin-bottom: 0.5em;
    color: #f68b1f;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#spectacle .json-inner-schema .json-schema-properties,
#spectacle .json-inner-schema .json-schema-array-items,
#spectacle .json-inner-schema .json-schema-description,
#spectacle .json-inner-schema .json-schema-example {
    padding-left: 1em;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
}

#spectacle .json-property-discriminator:before {
    display: inline-block;
    padding: 0.33333rem 0.5rem;
    border-radius: 0;
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    background: #cc4b37;
    color: #fefefe;
    font-size: 0.75rem;
    border-radius: 4px;
    padding: 3px 6px;
    content: "discriminator";
}

#spectacle .json-property-required:before {
    display: inline-block;
    padding: 0.33333rem 0.5rem;
    border-radius: 0;
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    background: #cc4b37;
    color: #fefefe;
    font-size: 0.75rem;
    border-radius: 4px;
    padding: 3px 6px;
    content: "required";
}

#spectacle .json-property-read-only:before {
    display: inline-block;
    padding: 0.33333rem 0.5rem;
    border-radius: 0;
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    background: #cc4b37;
    color: #fefefe;
    font-size: 0.75rem;
    border-radius: 4px;
    padding: 3px 6px;
    content: "read only";
}

#spectacle .json-property-format {
    font-style: italic;
}

#spectacle .json-property-enum:before {
    content: 'enum: [';
}

#spectacle .json-property-enum:after {
    content: ']';
}

#spectacle .json-property-default-value:before {
    content: 'default: ';
}

#spectacle .json-property-range:empty {
    display: none !important;
}

#spectacle .json-property-range:before {
    content: 'range: ';
}

#spectacle .json-property-enum-item {
    font-weight: lighter;
    font-size: small;
}

#spectacle .json-schema-reference {
    font-size: 90%;
}

#spectacle .no-padding {
    padding: 0 !important;
}

#spectacle .no-margin {
    margin: 0 !important;
}

#spectacle button:focus {
    outline: none;
}

#spectacle .default-label {
    display: inline-block;
    padding: 0.33333rem 0.5rem;
    border-radius: 0;
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    background: #767676;
    color: #fefefe;
    font-size: 0.75rem;
    border-radius: 4px;
    padding: 3px 6px;
}

#spectacle #logo {
    text-align: center;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 0.25rem;
}

#spectacle #logo img {
    max-height: 75px;
}

#spectacle .row, #spectacle article .prop-row, #spectacle article .doc-row {
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
}

#spectacle .row::before, #spectacle article .prop-row::before, #spectacle article .doc-row::before, #spectacle .row::after, #spectacle article .prop-row::after, #spectacle article .doc-row::after {
    display: table;
    content: ' ';
    flex-basis: 0;
    order: 1;
}

#spectacle .row::after, #spectacle article .prop-row::after, #spectacle article .doc-row::after {
    clear: both;
}

#spectacle .row.collapse > .column, #spectacle article .prop-row > .column, #spectacle article .doc-row > .column, #spectacle .row.collapse > .columns, #spectacle article .prop-row > .columns, #spectacle article .doc-row > .columns, #spectacle article .prop-row .row.collapse > .prop-name, #spectacle article .prop-row > .prop-name, #spectacle article .prop-row .doc-row > .prop-name, #spectacle article .prop-row .row.collapse > .prop-value, #spectacle article .prop-row > .prop-value, #spectacle article .prop-row .doc-row > .prop-value, #spectacle article .row.collapse > .doc-copy, #spectacle article .prop-row > .doc-copy, #spectacle article .doc-row > .doc-copy, #spectacle article .row.collapse > .doc-examples, #spectacle article .prop-row > .doc-examples, #spectacle article .doc-row > .doc-examples {
    padding-right: 0;
    padding-left: 0;
}

#spectacle .row .row, #spectacle article .prop-row .row, #spectacle article .doc-row .row, #spectacle .row article .prop-row, #spectacle article .row .prop-row, #spectacle article .prop-row .prop-row, #spectacle article .doc-row .prop-row, #spectacle .row article .doc-row, #spectacle article .row .doc-row, #spectacle article .prop-row .doc-row, #spectacle article .doc-row .doc-row {
    margin-right: -0.6578947368rem;
    margin-left: -0.6578947368rem;
}

@media print, screen and (min-width: 40em) {
    #spectacle .row .row, #spectacle article .prop-row .row, #spectacle article .doc-row .row, #spectacle .row article .prop-row, #spectacle article .row .prop-row, #spectacle article .prop-row .prop-row, #spectacle article .doc-row .prop-row, #spectacle .row article .doc-row, #spectacle article .row .doc-row, #spectacle article .prop-row .doc-row, #spectacle article .doc-row .doc-row {
        margin-right: -0.9868421053rem;
        margin-left: -0.9868421053rem;
    }
}

@media print, screen and (min-width: 64em) {
    #spectacle .row .row, #spectacle article .prop-row .row, #spectacle article .doc-row .row, #spectacle .row article .prop-row, #spectacle article .row .prop-row, #spectacle article .prop-row .prop-row, #spectacle article .doc-row .prop-row, #spectacle .row article .doc-row, #spectacle article .row .doc-row, #spectacle article .prop-row .doc-row, #spectacle article .doc-row .doc-row {
        margin-right: -0.9868421053rem;
        margin-left: -0.9868421053rem;
    }
}

#spectacle .row .row.collapse, #spectacle article .prop-row .row.collapse, #spectacle article .doc-row .row.collapse, #spectacle .row article .prop-row, #spectacle article .row .prop-row, #spectacle article .prop-row .prop-row, #spectacle article .doc-row .prop-row, #spectacle .row article .doc-row, #spectacle article .row .doc-row, #spectacle article .prop-row .doc-row, #spectacle article .doc-row .doc-row {
    margin-right: 0;
    margin-left: 0;
}

#spectacle .row.expanded, #spectacle article .expanded.prop-row, #spectacle article .expanded.doc-row {
    max-width: none;
}

#spectacle .row.expanded .row, #spectacle article .expanded.prop-row .row, #spectacle article .expanded.doc-row .row, #spectacle .row.expanded article .prop-row, #spectacle article .row.expanded .prop-row, #spectacle article .expanded.prop-row .prop-row, #spectacle article .expanded.doc-row .prop-row, #spectacle .row.expanded article .doc-row, #spectacle article .row.expanded .doc-row, #spectacle article .expanded.prop-row .doc-row, #spectacle article .expanded.doc-row .doc-row {
    margin-right: auto;
    margin-left: auto;
}

#spectacle .row:not(.expanded) .row, #spectacle article .prop-row:not(.expanded) .row, #spectacle article .doc-row:not(.expanded) .row, #spectacle .row:not(.expanded) article .prop-row, #spectacle article .row:not(.expanded) .prop-row, #spectacle article .prop-row:not(.expanded) .prop-row, #spectacle article .doc-row:not(.expanded) .prop-row, #spectacle .row:not(.expanded) article .doc-row, #spectacle article .row:not(.expanded) .doc-row, #spectacle article .prop-row:not(.expanded) .doc-row, #spectacle article .doc-row:not(.expanded) .doc-row {
    max-width: none;
}

#spectacle .row.gutter-small > .column, #spectacle article .gutter-small.prop-row > .column, #spectacle article .gutter-small.doc-row > .column, #spectacle .row.gutter-small > .columns, #spectacle article .gutter-small.prop-row > .columns, #spectacle article .gutter-small.doc-row > .columns, #spectacle article .prop-row .row.gutter-small > .prop-name, #spectacle article .gutter-small.prop-row > .prop-name, #spectacle article .prop-row .gutter-small.doc-row > .prop-name, #spectacle article .prop-row .row.gutter-small > .prop-value, #spectacle article .gutter-small.prop-row > .prop-value, #spectacle article .prop-row .gutter-small.doc-row > .prop-value, #spectacle article .row.gutter-small > .doc-copy, #spectacle article .gutter-small.prop-row > .doc-copy, #spectacle article .gutter-small.doc-row > .doc-copy, #spectacle article .row.gutter-small > .doc-examples, #spectacle article .gutter-small.prop-row > .doc-examples, #spectacle article .gutter-small.doc-row > .doc-examples {
    padding-right: 0.6578947368rem;
    padding-left: 0.6578947368rem;
}

#spectacle .row.gutter-medium > .column, #spectacle article .gutter-medium.prop-row > .column, #spectacle article .gutter-medium.doc-row > .column, #spectacle .row.gutter-medium > .columns, #spectacle article .gutter-medium.prop-row > .columns, #spectacle article .gutter-medium.doc-row > .columns, #spectacle article .prop-row .row.gutter-medium > .prop-name, #spectacle article .gutter-medium.prop-row > .prop-name, #spectacle article .prop-row .gutter-medium.doc-row > .prop-name, #spectacle article .prop-row .row.gutter-medium > .prop-value, #spectacle article .gutter-medium.prop-row > .prop-value, #spectacle article .prop-row .gutter-medium.doc-row > .prop-value, #spectacle article .row.gutter-medium > .doc-copy, #spectacle article .gutter-medium.prop-row > .doc-copy, #spectacle article .gutter-medium.doc-row > .doc-copy, #spectacle article .row.gutter-medium > .doc-examples, #spectacle article .gutter-medium.prop-row > .doc-examples, #spectacle article .gutter-medium.doc-row > .doc-examples {
    padding-right: 0.9868421053rem;
    padding-left: 0.9868421053rem;
}

#spectacle .column, #spectacle .columns, #spectacle article .prop-row .prop-name, #spectacle article .prop-row .prop-value, #spectacle article .doc-copy, #spectacle article .doc-examples {
    width: 100%;
    float: left;
    padding-right: 0.6578947368rem;
    padding-left: 0.6578947368rem;
}

@media print, screen and (min-width: 40em) {
    #spectacle .column, #spectacle .columns, #spectacle article .prop-row .prop-name, #spectacle article .prop-row .prop-value, #spectacle article .doc-copy, #spectacle article .doc-examples {
        padding-right: 0.9868421053rem;
        padding-left: 0.9868421053rem;
    }
}

#spectacle .column:last-child:not(:first-child), #spectacle .columns:last-child:not(:first-child), #spectacle article .prop-row .prop-name:last-child:not(:first-child), #spectacle article .prop-row .prop-value:last-child:not(:first-child), #spectacle article .doc-copy:last-child:not(:first-child), #spectacle article .doc-examples:last-child:not(:first-child) {
    float: right;
}

#spectacle .column.end:last-child:last-child, #spectacle .end.columns:last-child:last-child, #spectacle article .prop-row .end.prop-name:last-child:last-child, #spectacle article .prop-row .end.prop-value:last-child:last-child, #spectacle article .end.doc-copy:last-child:last-child, #spectacle article .end.doc-examples:last-child:last-child {
    float: left;
}

#spectacle .column.row.row, #spectacle .row.row.columns, #spectacle article .columns.prop-row, #spectacle article .prop-row .prop-row.prop-name, #spectacle article .prop-row .prop-row.prop-value, #spectacle article .prop-row.doc-copy, #spectacle article .prop-row.doc-examples, #spectacle article .prop-row .row.row.prop-name, #spectacle article .prop-row .prop-name.doc-row, #spectacle article .prop-row .row.row.prop-value, #spectacle article .prop-row .prop-value.doc-row, #spectacle article .columns.doc-row, #spectacle article .doc-row.doc-copy, #spectacle article .doc-row.doc-examples, #spectacle article .row.row.doc-copy, #spectacle article .row.row.doc-examples, #spectacle article .column.prop-row, #spectacle article .column.doc-row {
    float: none;
}

#spectacle .row .column.row.row, #spectacle article .prop-row .column.row.row, #spectacle article .doc-row .column.row.row, #spectacle .row .row.row.columns, #spectacle article .prop-row .row.row.columns, #spectacle article .doc-row .row.row.columns, #spectacle .row article .columns.prop-row, #spectacle article .row .columns.prop-row, #spectacle article .prop-row .columns.prop-row, #spectacle article .doc-row .columns.prop-row, #spectacle .row article .prop-row .prop-row.prop-name, #spectacle article .prop-row .row .prop-row.prop-name, #spectacle article .prop-row .prop-row.prop-name, #spectacle .row article .prop-row .prop-row.prop-value, #spectacle article .prop-row .row .prop-row.prop-value, #spectacle article .prop-row .prop-row.prop-value, #spectacle .row article .prop-row.doc-copy, #spectacle article .row .prop-row.doc-copy, #spectacle article .prop-row .prop-row.doc-copy, #spectacle article .doc-row .prop-row.doc-copy, #spectacle .row article .prop-row.doc-examples, #spectacle article .row .prop-row.doc-examples, #spectacle article .prop-row .prop-row.doc-examples, #spectacle article .doc-row .prop-row.doc-examples, #spectacle article .prop-row .row.row.prop-name, #spectacle .row article .prop-row .prop-name.doc-row, #spectacle article .prop-row .row .prop-name.doc-row, #spectacle article .prop-row .prop-name.doc-row, #spectacle article .prop-row .row.row.prop-value, #spectacle .row article .prop-row .prop-value.doc-row, #spectacle article .prop-row .row .prop-value.doc-row, #spectacle article .prop-row .prop-value.doc-row, #spectacle .row article .columns.doc-row, #spectacle article .row .columns.doc-row, #spectacle article .prop-row .columns.doc-row, #spectacle article .doc-row .columns.doc-row, #spectacle .row article .doc-row.doc-copy, #spectacle article .row .doc-row.doc-copy, #spectacle article .prop-row .doc-row.doc-copy, #spectacle article .doc-row .doc-row.doc-copy, #spectacle .row article .doc-row.doc-examples, #spectacle article .row .doc-row.doc-examples, #spectacle article .prop-row .doc-row.doc-examples, #spectacle article .doc-row .doc-row.doc-examples, #spectacle .row article .row.row.doc-copy, #spectacle article .row .row.row.doc-copy, #spectacle article .prop-row .row.row.doc-copy, #spectacle article .doc-row .row.row.doc-copy, #spectacle .row article .row.row.doc-examples, #spectacle article .row .row.row.doc-examples, #spectacle article .prop-row .row.row.doc-examples, #spectacle article .doc-row .row.row.doc-examples, #spectacle .row article .column.prop-row, #spectacle article .row .column.prop-row, #spectacle article .prop-row .column.prop-row, #spectacle article .doc-row .column.prop-row, #spectacle .row article .column.doc-row, #spectacle article .row .column.doc-row, #spectacle article .prop-row .column.doc-row, #spectacle article .doc-row .column.doc-row {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

#spectacle .small-1 {
    width: 8.3333333333%;
}

#spectacle .small-push-1 {
    position: relative;
    left: 8.3333333333%;
}

#spectacle .small-pull-1 {
    position: relative;
    left: -8.3333333333%;
}

#spectacle .small-offset-0 {
    margin-left: 0%;
}

#spectacle .small-2 {
    width: 16.6666666667%;
}

#spectacle .small-push-2 {
    position: relative;
    left: 16.6666666667%;
}

#spectacle .small-pull-2 {
    position: relative;
    left: -16.6666666667%;
}

#spectacle .small-offset-1 {
    margin-left: 8.3333333333%;
}

#spectacle .small-3 {
    width: 25%;
}

#spectacle .small-push-3 {
    position: relative;
    left: 25%;
}

#spectacle .small-pull-3 {
    position: relative;
    left: -25%;
}

#spectacle .small-offset-2 {
    margin-left: 16.6666666667%;
}

#spectacle .small-4 {
    width: 33.3333333333%;
}

#spectacle .small-push-4 {
    position: relative;
    left: 33.3333333333%;
}

#spectacle .small-pull-4 {
    position: relative;
    left: -33.3333333333%;
}

#spectacle .small-offset-3 {
    margin-left: 25%;
}

#spectacle .small-5, #spectacle article .prop-row .prop-name {
    width: 41.6666666667%;
}

#spectacle .small-push-5 {
    position: relative;
    left: 41.6666666667%;
}

#spectacle .small-pull-5 {
    position: relative;
    left: -41.6666666667%;
}

#spectacle .small-offset-4 {
    margin-left: 33.3333333333%;
}

#spectacle .small-6 {
    width: 50%;
}

#spectacle .small-push-6 {
    position: relative;
    left: 50%;
}

#spectacle .small-pull-6 {
    position: relative;
    left: -50%;
}

#spectacle .small-offset-5 {
    margin-left: 41.6666666667%;
}

#spectacle .small-7, #spectacle article .prop-row .prop-value {
    width: 58.3333333333%;
}

#spectacle .small-push-7 {
    position: relative;
    left: 58.3333333333%;
}

#spectacle .small-pull-7 {
    position: relative;
    left: -58.3333333333%;
}

#spectacle .small-offset-6 {
    margin-left: 50%;
}

#spectacle .small-8 {
    width: 66.6666666667%;
}

#spectacle .small-push-8 {
    position: relative;
    left: 66.6666666667%;
}

#spectacle .small-pull-8 {
    position: relative;
    left: -66.6666666667%;
}

#spectacle .small-offset-7 {
    margin-left: 58.3333333333%;
}

#spectacle .small-9 {
    width: 75%;
}

#spectacle .small-push-9 {
    position: relative;
    left: 75%;
}

#spectacle .small-pull-9 {
    position: relative;
    left: -75%;
}

#spectacle .small-offset-8 {
    margin-left: 66.6666666667%;
}

#spectacle .small-10 {
    width: 83.3333333333%;
}

#spectacle .small-push-10 {
    position: relative;
    left: 83.3333333333%;
}

#spectacle .small-pull-10 {
    position: relative;
    left: -83.3333333333%;
}

#spectacle .small-offset-9 {
    margin-left: 75%;
}

#spectacle .small-11 {
    width: 91.6666666667%;
}

#spectacle .small-push-11 {
    position: relative;
    left: 91.6666666667%;
}

#spectacle .small-pull-11 {
    position: relative;
    left: -91.6666666667%;
}

#spectacle .small-offset-10 {
    margin-left: 83.3333333333%;
}

#spectacle .small-12 {
    width: 100%;
}

#spectacle .small-offset-11 {
    margin-left: 91.6666666667%;
}

#spectacle .small-up-1 > .column, #spectacle .small-up-1 > .columns, #spectacle article .prop-row .small-up-1 > .prop-name, #spectacle article .prop-row .small-up-1 > .prop-value, #spectacle article .small-up-1 > .doc-copy, #spectacle article .small-up-1 > .doc-examples {
    float: left;
    width: 100%;
}

#spectacle .small-up-1 > .column:nth-of-type(1n), #spectacle .small-up-1 > .columns:nth-of-type(1n), #spectacle article .prop-row .small-up-1 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .small-up-1 > .prop-value:nth-of-type(1n), #spectacle article .small-up-1 > .doc-copy:nth-of-type(1n), #spectacle article .small-up-1 > .doc-examples:nth-of-type(1n) {
    clear: none;
}

#spectacle .small-up-1 > .column:nth-of-type(1n+1), #spectacle .small-up-1 > .columns:nth-of-type(1n+1), #spectacle article .prop-row .small-up-1 > .prop-name:nth-of-type(1n+1), #spectacle article .prop-row .small-up-1 > .prop-value:nth-of-type(1n+1), #spectacle article .small-up-1 > .doc-copy:nth-of-type(1n+1), #spectacle article .small-up-1 > .doc-examples:nth-of-type(1n+1) {
    clear: both;
}

#spectacle .small-up-1 > .column:last-child, #spectacle .small-up-1 > .columns:last-child, #spectacle article .prop-row .small-up-1 > .prop-name:last-child, #spectacle article .prop-row .small-up-1 > .prop-value:last-child, #spectacle article .small-up-1 > .doc-copy:last-child, #spectacle article .small-up-1 > .doc-examples:last-child {
    float: left;
}

#spectacle .small-up-2 > .column, #spectacle .small-up-2 > .columns, #spectacle article .prop-row .small-up-2 > .prop-name, #spectacle article .prop-row .small-up-2 > .prop-value, #spectacle article .small-up-2 > .doc-copy, #spectacle article .small-up-2 > .doc-examples {
    float: left;
    width: 50%;
}

#spectacle .small-up-2 > .column:nth-of-type(1n), #spectacle .small-up-2 > .columns:nth-of-type(1n), #spectacle article .prop-row .small-up-2 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .small-up-2 > .prop-value:nth-of-type(1n), #spectacle article .small-up-2 > .doc-copy:nth-of-type(1n), #spectacle article .small-up-2 > .doc-examples:nth-of-type(1n) {
    clear: none;
}

#spectacle .small-up-2 > .column:nth-of-type(2n+1), #spectacle .small-up-2 > .columns:nth-of-type(2n+1), #spectacle article .prop-row .small-up-2 > .prop-name:nth-of-type(2n+1), #spectacle article .prop-row .small-up-2 > .prop-value:nth-of-type(2n+1), #spectacle article .small-up-2 > .doc-copy:nth-of-type(2n+1), #spectacle article .small-up-2 > .doc-examples:nth-of-type(2n+1) {
    clear: both;
}

#spectacle .small-up-2 > .column:last-child, #spectacle .small-up-2 > .columns:last-child, #spectacle article .prop-row .small-up-2 > .prop-name:last-child, #spectacle article .prop-row .small-up-2 > .prop-value:last-child, #spectacle article .small-up-2 > .doc-copy:last-child, #spectacle article .small-up-2 > .doc-examples:last-child {
    float: left;
}

#spectacle .small-up-3 > .column, #spectacle .small-up-3 > .columns, #spectacle article .prop-row .small-up-3 > .prop-name, #spectacle article .prop-row .small-up-3 > .prop-value, #spectacle article .small-up-3 > .doc-copy, #spectacle article .small-up-3 > .doc-examples {
    float: left;
    width: 33.3333333333%;
}

#spectacle .small-up-3 > .column:nth-of-type(1n), #spectacle .small-up-3 > .columns:nth-of-type(1n), #spectacle article .prop-row .small-up-3 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .small-up-3 > .prop-value:nth-of-type(1n), #spectacle article .small-up-3 > .doc-copy:nth-of-type(1n), #spectacle article .small-up-3 > .doc-examples:nth-of-type(1n) {
    clear: none;
}

#spectacle .small-up-3 > .column:nth-of-type(3n+1), #spectacle .small-up-3 > .columns:nth-of-type(3n+1), #spectacle article .prop-row .small-up-3 > .prop-name:nth-of-type(3n+1), #spectacle article .prop-row .small-up-3 > .prop-value:nth-of-type(3n+1), #spectacle article .small-up-3 > .doc-copy:nth-of-type(3n+1), #spectacle article .small-up-3 > .doc-examples:nth-of-type(3n+1) {
    clear: both;
}

#spectacle .small-up-3 > .column:last-child, #spectacle .small-up-3 > .columns:last-child, #spectacle article .prop-row .small-up-3 > .prop-name:last-child, #spectacle article .prop-row .small-up-3 > .prop-value:last-child, #spectacle article .small-up-3 > .doc-copy:last-child, #spectacle article .small-up-3 > .doc-examples:last-child {
    float: left;
}

#spectacle .small-up-4 > .column, #spectacle .small-up-4 > .columns, #spectacle article .prop-row .small-up-4 > .prop-name, #spectacle article .prop-row .small-up-4 > .prop-value, #spectacle article .small-up-4 > .doc-copy, #spectacle article .small-up-4 > .doc-examples {
    float: left;
    width: 25%;
}

#spectacle .small-up-4 > .column:nth-of-type(1n), #spectacle .small-up-4 > .columns:nth-of-type(1n), #spectacle article .prop-row .small-up-4 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .small-up-4 > .prop-value:nth-of-type(1n), #spectacle article .small-up-4 > .doc-copy:nth-of-type(1n), #spectacle article .small-up-4 > .doc-examples:nth-of-type(1n) {
    clear: none;
}

#spectacle .small-up-4 > .column:nth-of-type(4n+1), #spectacle .small-up-4 > .columns:nth-of-type(4n+1), #spectacle article .prop-row .small-up-4 > .prop-name:nth-of-type(4n+1), #spectacle article .prop-row .small-up-4 > .prop-value:nth-of-type(4n+1), #spectacle article .small-up-4 > .doc-copy:nth-of-type(4n+1), #spectacle article .small-up-4 > .doc-examples:nth-of-type(4n+1) {
    clear: both;
}

#spectacle .small-up-4 > .column:last-child, #spectacle .small-up-4 > .columns:last-child, #spectacle article .prop-row .small-up-4 > .prop-name:last-child, #spectacle article .prop-row .small-up-4 > .prop-value:last-child, #spectacle article .small-up-4 > .doc-copy:last-child, #spectacle article .small-up-4 > .doc-examples:last-child {
    float: left;
}

#spectacle .small-up-5 > .column, #spectacle .small-up-5 > .columns, #spectacle article .prop-row .small-up-5 > .prop-name, #spectacle article .prop-row .small-up-5 > .prop-value, #spectacle article .small-up-5 > .doc-copy, #spectacle article .small-up-5 > .doc-examples {
    float: left;
    width: 20%;
}

#spectacle .small-up-5 > .column:nth-of-type(1n), #spectacle .small-up-5 > .columns:nth-of-type(1n), #spectacle article .prop-row .small-up-5 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .small-up-5 > .prop-value:nth-of-type(1n), #spectacle article .small-up-5 > .doc-copy:nth-of-type(1n), #spectacle article .small-up-5 > .doc-examples:nth-of-type(1n) {
    clear: none;
}

#spectacle .small-up-5 > .column:nth-of-type(5n+1), #spectacle .small-up-5 > .columns:nth-of-type(5n+1), #spectacle article .prop-row .small-up-5 > .prop-name:nth-of-type(5n+1), #spectacle article .prop-row .small-up-5 > .prop-value:nth-of-type(5n+1), #spectacle article .small-up-5 > .doc-copy:nth-of-type(5n+1), #spectacle article .small-up-5 > .doc-examples:nth-of-type(5n+1) {
    clear: both;
}

#spectacle .small-up-5 > .column:last-child, #spectacle .small-up-5 > .columns:last-child, #spectacle article .prop-row .small-up-5 > .prop-name:last-child, #spectacle article .prop-row .small-up-5 > .prop-value:last-child, #spectacle article .small-up-5 > .doc-copy:last-child, #spectacle article .small-up-5 > .doc-examples:last-child {
    float: left;
}

#spectacle .small-up-6 > .column, #spectacle .small-up-6 > .columns, #spectacle article .prop-row .small-up-6 > .prop-name, #spectacle article .prop-row .small-up-6 > .prop-value, #spectacle article .small-up-6 > .doc-copy, #spectacle article .small-up-6 > .doc-examples {
    float: left;
    width: 16.6666666667%;
}

#spectacle .small-up-6 > .column:nth-of-type(1n), #spectacle .small-up-6 > .columns:nth-of-type(1n), #spectacle article .prop-row .small-up-6 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .small-up-6 > .prop-value:nth-of-type(1n), #spectacle article .small-up-6 > .doc-copy:nth-of-type(1n), #spectacle article .small-up-6 > .doc-examples:nth-of-type(1n) {
    clear: none;
}

#spectacle .small-up-6 > .column:nth-of-type(6n+1), #spectacle .small-up-6 > .columns:nth-of-type(6n+1), #spectacle article .prop-row .small-up-6 > .prop-name:nth-of-type(6n+1), #spectacle article .prop-row .small-up-6 > .prop-value:nth-of-type(6n+1), #spectacle article .small-up-6 > .doc-copy:nth-of-type(6n+1), #spectacle article .small-up-6 > .doc-examples:nth-of-type(6n+1) {
    clear: both;
}

#spectacle .small-up-6 > .column:last-child, #spectacle .small-up-6 > .columns:last-child, #spectacle article .prop-row .small-up-6 > .prop-name:last-child, #spectacle article .prop-row .small-up-6 > .prop-value:last-child, #spectacle article .small-up-6 > .doc-copy:last-child, #spectacle article .small-up-6 > .doc-examples:last-child {
    float: left;
}

#spectacle .small-up-7 > .column, #spectacle .small-up-7 > .columns, #spectacle article .prop-row .small-up-7 > .prop-name, #spectacle article .prop-row .small-up-7 > .prop-value, #spectacle article .small-up-7 > .doc-copy, #spectacle article .small-up-7 > .doc-examples {
    float: left;
    width: 14.2857142857%;
}

#spectacle .small-up-7 > .column:nth-of-type(1n), #spectacle .small-up-7 > .columns:nth-of-type(1n), #spectacle article .prop-row .small-up-7 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .small-up-7 > .prop-value:nth-of-type(1n), #spectacle article .small-up-7 > .doc-copy:nth-of-type(1n), #spectacle article .small-up-7 > .doc-examples:nth-of-type(1n) {
    clear: none;
}

#spectacle .small-up-7 > .column:nth-of-type(7n+1), #spectacle .small-up-7 > .columns:nth-of-type(7n+1), #spectacle article .prop-row .small-up-7 > .prop-name:nth-of-type(7n+1), #spectacle article .prop-row .small-up-7 > .prop-value:nth-of-type(7n+1), #spectacle article .small-up-7 > .doc-copy:nth-of-type(7n+1), #spectacle article .small-up-7 > .doc-examples:nth-of-type(7n+1) {
    clear: both;
}

#spectacle .small-up-7 > .column:last-child, #spectacle .small-up-7 > .columns:last-child, #spectacle article .prop-row .small-up-7 > .prop-name:last-child, #spectacle article .prop-row .small-up-7 > .prop-value:last-child, #spectacle article .small-up-7 > .doc-copy:last-child, #spectacle article .small-up-7 > .doc-examples:last-child {
    float: left;
}

#spectacle .small-up-8 > .column, #spectacle .small-up-8 > .columns, #spectacle article .prop-row .small-up-8 > .prop-name, #spectacle article .prop-row .small-up-8 > .prop-value, #spectacle article .small-up-8 > .doc-copy, #spectacle article .small-up-8 > .doc-examples {
    float: left;
    width: 12.5%;
}

#spectacle .small-up-8 > .column:nth-of-type(1n), #spectacle .small-up-8 > .columns:nth-of-type(1n), #spectacle article .prop-row .small-up-8 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .small-up-8 > .prop-value:nth-of-type(1n), #spectacle article .small-up-8 > .doc-copy:nth-of-type(1n), #spectacle article .small-up-8 > .doc-examples:nth-of-type(1n) {
    clear: none;
}

#spectacle .small-up-8 > .column:nth-of-type(8n+1), #spectacle .small-up-8 > .columns:nth-of-type(8n+1), #spectacle article .prop-row .small-up-8 > .prop-name:nth-of-type(8n+1), #spectacle article .prop-row .small-up-8 > .prop-value:nth-of-type(8n+1), #spectacle article .small-up-8 > .doc-copy:nth-of-type(8n+1), #spectacle article .small-up-8 > .doc-examples:nth-of-type(8n+1) {
    clear: both;
}

#spectacle .small-up-8 > .column:last-child, #spectacle .small-up-8 > .columns:last-child, #spectacle article .prop-row .small-up-8 > .prop-name:last-child, #spectacle article .prop-row .small-up-8 > .prop-value:last-child, #spectacle article .small-up-8 > .doc-copy:last-child, #spectacle article .small-up-8 > .doc-examples:last-child {
    float: left;
}

#spectacle .small-collapse > .column, #spectacle .small-collapse > .columns, #spectacle article .prop-row .small-collapse > .prop-name, #spectacle article .prop-row .small-collapse > .prop-value, #spectacle article .small-collapse > .doc-copy, #spectacle article .small-collapse > .doc-examples {
    padding-right: 0;
    padding-left: 0;
}

#spectacle .small-collapse .row, #spectacle .small-collapse article .prop-row, #spectacle article .small-collapse .prop-row, #spectacle .small-collapse article .doc-row, #spectacle article .small-collapse .doc-row {
    margin-right: 0;
    margin-left: 0;
}

#spectacle .expanded.row .small-collapse.row, #spectacle article .expanded.prop-row .small-collapse.row, #spectacle article .expanded.doc-row .small-collapse.row, #spectacle .expanded.row article .small-collapse.prop-row, #spectacle article .expanded.row .small-collapse.prop-row, #spectacle article .expanded.prop-row .small-collapse.prop-row, #spectacle article .expanded.doc-row .small-collapse.prop-row, #spectacle .expanded.row article .small-collapse.doc-row, #spectacle article .expanded.row .small-collapse.doc-row, #spectacle article .expanded.prop-row .small-collapse.doc-row, #spectacle article .expanded.doc-row .small-collapse.doc-row {
    margin-right: 0;
    margin-left: 0;
}

#spectacle .small-uncollapse > .column, #spectacle .small-uncollapse > .columns, #spectacle article .prop-row .small-uncollapse > .prop-name, #spectacle article .prop-row .small-uncollapse > .prop-value, #spectacle article .small-uncollapse > .doc-copy, #spectacle article .small-uncollapse > .doc-examples {
    padding-right: 0.6578947368rem;
    padding-left: 0.6578947368rem;
}

#spectacle .small-centered {
    margin-right: auto;
    margin-left: auto;
}

#spectacle .small-centered, #spectacle .small-centered:last-child:not(:first-child) {
    float: none;
    clear: both;
}

#spectacle .small-uncentered,
#spectacle .small-push-0,
#spectacle .small-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0;
}

@media print, screen and (min-width: 40em) {
    #spectacle .medium-1 {
        width: 8.3333333333%;
    }

    #spectacle .medium-push-1 {
        position: relative;
        left: 8.3333333333%;
    }

    #spectacle .medium-pull-1 {
        position: relative;
        left: -8.3333333333%;
    }

    #spectacle .medium-offset-0 {
        margin-left: 0%;
    }

    #spectacle .medium-2 {
        width: 16.6666666667%;
    }

    #spectacle .medium-push-2 {
        position: relative;
        left: 16.6666666667%;
    }

    #spectacle .medium-pull-2 {
        position: relative;
        left: -16.6666666667%;
    }

    #spectacle .medium-offset-1 {
        margin-left: 8.3333333333%;
    }

    #spectacle .medium-3 {
        width: 25%;
    }

    #spectacle .medium-push-3 {
        position: relative;
        left: 25%;
    }

    #spectacle .medium-pull-3 {
        position: relative;
        left: -25%;
    }

    #spectacle .medium-offset-2 {
        margin-left: 16.6666666667%;
    }

    #spectacle .medium-4 {
        width: 33.3333333333%;
    }

    #spectacle .medium-push-4 {
        position: relative;
        left: 33.3333333333%;
    }

    #spectacle .medium-pull-4 {
        position: relative;
        left: -33.3333333333%;
    }

    #spectacle .medium-offset-3 {
        margin-left: 25%;
    }

    #spectacle .medium-5 {
        width: 41.6666666667%;
    }

    #spectacle .medium-push-5 {
        position: relative;
        left: 41.6666666667%;
    }

    #spectacle .medium-pull-5 {
        position: relative;
        left: -41.6666666667%;
    }

    #spectacle .medium-offset-4 {
        margin-left: 33.3333333333%;
    }

    #spectacle .medium-6 {
        width: 50%;
    }

    #spectacle .medium-push-6 {
        position: relative;
        left: 50%;
    }

    #spectacle .medium-pull-6 {
        position: relative;
        left: -50%;
    }

    #spectacle .medium-offset-5 {
        margin-left: 41.6666666667%;
    }

    #spectacle .medium-7 {
        width: 58.3333333333%;
    }

    #spectacle .medium-push-7 {
        position: relative;
        left: 58.3333333333%;
    }

    #spectacle .medium-pull-7 {
        position: relative;
        left: -58.3333333333%;
    }

    #spectacle .medium-offset-6 {
        margin-left: 50%;
    }

    #spectacle .medium-8 {
        width: 66.6666666667%;
    }

    #spectacle .medium-push-8 {
        position: relative;
        left: 66.6666666667%;
    }

    #spectacle .medium-pull-8 {
        position: relative;
        left: -66.6666666667%;
    }

    #spectacle .medium-offset-7 {
        margin-left: 58.3333333333%;
    }

    #spectacle .medium-9 {
        width: 75%;
    }

    #spectacle .medium-push-9 {
        position: relative;
        left: 75%;
    }

    #spectacle .medium-pull-9 {
        position: relative;
        left: -75%;
    }

    #spectacle .medium-offset-8 {
        margin-left: 66.6666666667%;
    }

    #spectacle .medium-10 {
        width: 83.3333333333%;
    }

    #spectacle .medium-push-10 {
        position: relative;
        left: 83.3333333333%;
    }

    #spectacle .medium-pull-10 {
        position: relative;
        left: -83.3333333333%;
    }

    #spectacle .medium-offset-9 {
        margin-left: 75%;
    }

    #spectacle .medium-11 {
        width: 91.6666666667%;
    }

    #spectacle .medium-push-11 {
        position: relative;
        left: 91.6666666667%;
    }

    #spectacle .medium-pull-11 {
        position: relative;
        left: -91.6666666667%;
    }

    #spectacle .medium-offset-10 {
        margin-left: 83.3333333333%;
    }

    #spectacle .medium-12 {
        width: 100%;
    }

    #spectacle .medium-offset-11 {
        margin-left: 91.6666666667%;
    }

    #spectacle .medium-up-1 > .column, #spectacle .medium-up-1 > .columns, #spectacle article .prop-row .medium-up-1 > .prop-name, #spectacle article .prop-row .medium-up-1 > .prop-value, #spectacle article .medium-up-1 > .doc-copy, #spectacle article .medium-up-1 > .doc-examples {
        float: left;
        width: 100%;
    }

    #spectacle .medium-up-1 > .column:nth-of-type(1n), #spectacle .medium-up-1 > .columns:nth-of-type(1n), #spectacle article .prop-row .medium-up-1 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .medium-up-1 > .prop-value:nth-of-type(1n), #spectacle article .medium-up-1 > .doc-copy:nth-of-type(1n), #spectacle article .medium-up-1 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .medium-up-1 > .column:nth-of-type(1n+1), #spectacle .medium-up-1 > .columns:nth-of-type(1n+1), #spectacle article .prop-row .medium-up-1 > .prop-name:nth-of-type(1n+1), #spectacle article .prop-row .medium-up-1 > .prop-value:nth-of-type(1n+1), #spectacle article .medium-up-1 > .doc-copy:nth-of-type(1n+1), #spectacle article .medium-up-1 > .doc-examples:nth-of-type(1n+1) {
        clear: both;
    }

    #spectacle .medium-up-1 > .column:last-child, #spectacle .medium-up-1 > .columns:last-child, #spectacle article .prop-row .medium-up-1 > .prop-name:last-child, #spectacle article .prop-row .medium-up-1 > .prop-value:last-child, #spectacle article .medium-up-1 > .doc-copy:last-child, #spectacle article .medium-up-1 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .medium-up-2 > .column, #spectacle .medium-up-2 > .columns, #spectacle article .prop-row .medium-up-2 > .prop-name, #spectacle article .prop-row .medium-up-2 > .prop-value, #spectacle article .medium-up-2 > .doc-copy, #spectacle article .medium-up-2 > .doc-examples {
        float: left;
        width: 50%;
    }

    #spectacle .medium-up-2 > .column:nth-of-type(1n), #spectacle .medium-up-2 > .columns:nth-of-type(1n), #spectacle article .prop-row .medium-up-2 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .medium-up-2 > .prop-value:nth-of-type(1n), #spectacle article .medium-up-2 > .doc-copy:nth-of-type(1n), #spectacle article .medium-up-2 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .medium-up-2 > .column:nth-of-type(2n+1), #spectacle .medium-up-2 > .columns:nth-of-type(2n+1), #spectacle article .prop-row .medium-up-2 > .prop-name:nth-of-type(2n+1), #spectacle article .prop-row .medium-up-2 > .prop-value:nth-of-type(2n+1), #spectacle article .medium-up-2 > .doc-copy:nth-of-type(2n+1), #spectacle article .medium-up-2 > .doc-examples:nth-of-type(2n+1) {
        clear: both;
    }

    #spectacle .medium-up-2 > .column:last-child, #spectacle .medium-up-2 > .columns:last-child, #spectacle article .prop-row .medium-up-2 > .prop-name:last-child, #spectacle article .prop-row .medium-up-2 > .prop-value:last-child, #spectacle article .medium-up-2 > .doc-copy:last-child, #spectacle article .medium-up-2 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .medium-up-3 > .column, #spectacle .medium-up-3 > .columns, #spectacle article .prop-row .medium-up-3 > .prop-name, #spectacle article .prop-row .medium-up-3 > .prop-value, #spectacle article .medium-up-3 > .doc-copy, #spectacle article .medium-up-3 > .doc-examples {
        float: left;
        width: 33.3333333333%;
    }

    #spectacle .medium-up-3 > .column:nth-of-type(1n), #spectacle .medium-up-3 > .columns:nth-of-type(1n), #spectacle article .prop-row .medium-up-3 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .medium-up-3 > .prop-value:nth-of-type(1n), #spectacle article .medium-up-3 > .doc-copy:nth-of-type(1n), #spectacle article .medium-up-3 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .medium-up-3 > .column:nth-of-type(3n+1), #spectacle .medium-up-3 > .columns:nth-of-type(3n+1), #spectacle article .prop-row .medium-up-3 > .prop-name:nth-of-type(3n+1), #spectacle article .prop-row .medium-up-3 > .prop-value:nth-of-type(3n+1), #spectacle article .medium-up-3 > .doc-copy:nth-of-type(3n+1), #spectacle article .medium-up-3 > .doc-examples:nth-of-type(3n+1) {
        clear: both;
    }

    #spectacle .medium-up-3 > .column:last-child, #spectacle .medium-up-3 > .columns:last-child, #spectacle article .prop-row .medium-up-3 > .prop-name:last-child, #spectacle article .prop-row .medium-up-3 > .prop-value:last-child, #spectacle article .medium-up-3 > .doc-copy:last-child, #spectacle article .medium-up-3 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .medium-up-4 > .column, #spectacle .medium-up-4 > .columns, #spectacle article .prop-row .medium-up-4 > .prop-name, #spectacle article .prop-row .medium-up-4 > .prop-value, #spectacle article .medium-up-4 > .doc-copy, #spectacle article .medium-up-4 > .doc-examples {
        float: left;
        width: 25%;
    }

    #spectacle .medium-up-4 > .column:nth-of-type(1n), #spectacle .medium-up-4 > .columns:nth-of-type(1n), #spectacle article .prop-row .medium-up-4 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .medium-up-4 > .prop-value:nth-of-type(1n), #spectacle article .medium-up-4 > .doc-copy:nth-of-type(1n), #spectacle article .medium-up-4 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .medium-up-4 > .column:nth-of-type(4n+1), #spectacle .medium-up-4 > .columns:nth-of-type(4n+1), #spectacle article .prop-row .medium-up-4 > .prop-name:nth-of-type(4n+1), #spectacle article .prop-row .medium-up-4 > .prop-value:nth-of-type(4n+1), #spectacle article .medium-up-4 > .doc-copy:nth-of-type(4n+1), #spectacle article .medium-up-4 > .doc-examples:nth-of-type(4n+1) {
        clear: both;
    }

    #spectacle .medium-up-4 > .column:last-child, #spectacle .medium-up-4 > .columns:last-child, #spectacle article .prop-row .medium-up-4 > .prop-name:last-child, #spectacle article .prop-row .medium-up-4 > .prop-value:last-child, #spectacle article .medium-up-4 > .doc-copy:last-child, #spectacle article .medium-up-4 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .medium-up-5 > .column, #spectacle .medium-up-5 > .columns, #spectacle article .prop-row .medium-up-5 > .prop-name, #spectacle article .prop-row .medium-up-5 > .prop-value, #spectacle article .medium-up-5 > .doc-copy, #spectacle article .medium-up-5 > .doc-examples {
        float: left;
        width: 20%;
    }

    #spectacle .medium-up-5 > .column:nth-of-type(1n), #spectacle .medium-up-5 > .columns:nth-of-type(1n), #spectacle article .prop-row .medium-up-5 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .medium-up-5 > .prop-value:nth-of-type(1n), #spectacle article .medium-up-5 > .doc-copy:nth-of-type(1n), #spectacle article .medium-up-5 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .medium-up-5 > .column:nth-of-type(5n+1), #spectacle .medium-up-5 > .columns:nth-of-type(5n+1), #spectacle article .prop-row .medium-up-5 > .prop-name:nth-of-type(5n+1), #spectacle article .prop-row .medium-up-5 > .prop-value:nth-of-type(5n+1), #spectacle article .medium-up-5 > .doc-copy:nth-of-type(5n+1), #spectacle article .medium-up-5 > .doc-examples:nth-of-type(5n+1) {
        clear: both;
    }

    #spectacle .medium-up-5 > .column:last-child, #spectacle .medium-up-5 > .columns:last-child, #spectacle article .prop-row .medium-up-5 > .prop-name:last-child, #spectacle article .prop-row .medium-up-5 > .prop-value:last-child, #spectacle article .medium-up-5 > .doc-copy:last-child, #spectacle article .medium-up-5 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .medium-up-6 > .column, #spectacle .medium-up-6 > .columns, #spectacle article .prop-row .medium-up-6 > .prop-name, #spectacle article .prop-row .medium-up-6 > .prop-value, #spectacle article .medium-up-6 > .doc-copy, #spectacle article .medium-up-6 > .doc-examples {
        float: left;
        width: 16.6666666667%;
    }

    #spectacle .medium-up-6 > .column:nth-of-type(1n), #spectacle .medium-up-6 > .columns:nth-of-type(1n), #spectacle article .prop-row .medium-up-6 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .medium-up-6 > .prop-value:nth-of-type(1n), #spectacle article .medium-up-6 > .doc-copy:nth-of-type(1n), #spectacle article .medium-up-6 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .medium-up-6 > .column:nth-of-type(6n+1), #spectacle .medium-up-6 > .columns:nth-of-type(6n+1), #spectacle article .prop-row .medium-up-6 > .prop-name:nth-of-type(6n+1), #spectacle article .prop-row .medium-up-6 > .prop-value:nth-of-type(6n+1), #spectacle article .medium-up-6 > .doc-copy:nth-of-type(6n+1), #spectacle article .medium-up-6 > .doc-examples:nth-of-type(6n+1) {
        clear: both;
    }

    #spectacle .medium-up-6 > .column:last-child, #spectacle .medium-up-6 > .columns:last-child, #spectacle article .prop-row .medium-up-6 > .prop-name:last-child, #spectacle article .prop-row .medium-up-6 > .prop-value:last-child, #spectacle article .medium-up-6 > .doc-copy:last-child, #spectacle article .medium-up-6 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .medium-up-7 > .column, #spectacle .medium-up-7 > .columns, #spectacle article .prop-row .medium-up-7 > .prop-name, #spectacle article .prop-row .medium-up-7 > .prop-value, #spectacle article .medium-up-7 > .doc-copy, #spectacle article .medium-up-7 > .doc-examples {
        float: left;
        width: 14.2857142857%;
    }

    #spectacle .medium-up-7 > .column:nth-of-type(1n), #spectacle .medium-up-7 > .columns:nth-of-type(1n), #spectacle article .prop-row .medium-up-7 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .medium-up-7 > .prop-value:nth-of-type(1n), #spectacle article .medium-up-7 > .doc-copy:nth-of-type(1n), #spectacle article .medium-up-7 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .medium-up-7 > .column:nth-of-type(7n+1), #spectacle .medium-up-7 > .columns:nth-of-type(7n+1), #spectacle article .prop-row .medium-up-7 > .prop-name:nth-of-type(7n+1), #spectacle article .prop-row .medium-up-7 > .prop-value:nth-of-type(7n+1), #spectacle article .medium-up-7 > .doc-copy:nth-of-type(7n+1), #spectacle article .medium-up-7 > .doc-examples:nth-of-type(7n+1) {
        clear: both;
    }

    #spectacle .medium-up-7 > .column:last-child, #spectacle .medium-up-7 > .columns:last-child, #spectacle article .prop-row .medium-up-7 > .prop-name:last-child, #spectacle article .prop-row .medium-up-7 > .prop-value:last-child, #spectacle article .medium-up-7 > .doc-copy:last-child, #spectacle article .medium-up-7 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .medium-up-8 > .column, #spectacle .medium-up-8 > .columns, #spectacle article .prop-row .medium-up-8 > .prop-name, #spectacle article .prop-row .medium-up-8 > .prop-value, #spectacle article .medium-up-8 > .doc-copy, #spectacle article .medium-up-8 > .doc-examples {
        float: left;
        width: 12.5%;
    }

    #spectacle .medium-up-8 > .column:nth-of-type(1n), #spectacle .medium-up-8 > .columns:nth-of-type(1n), #spectacle article .prop-row .medium-up-8 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .medium-up-8 > .prop-value:nth-of-type(1n), #spectacle article .medium-up-8 > .doc-copy:nth-of-type(1n), #spectacle article .medium-up-8 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .medium-up-8 > .column:nth-of-type(8n+1), #spectacle .medium-up-8 > .columns:nth-of-type(8n+1), #spectacle article .prop-row .medium-up-8 > .prop-name:nth-of-type(8n+1), #spectacle article .prop-row .medium-up-8 > .prop-value:nth-of-type(8n+1), #spectacle article .medium-up-8 > .doc-copy:nth-of-type(8n+1), #spectacle article .medium-up-8 > .doc-examples:nth-of-type(8n+1) {
        clear: both;
    }

    #spectacle .medium-up-8 > .column:last-child, #spectacle .medium-up-8 > .columns:last-child, #spectacle article .prop-row .medium-up-8 > .prop-name:last-child, #spectacle article .prop-row .medium-up-8 > .prop-value:last-child, #spectacle article .medium-up-8 > .doc-copy:last-child, #spectacle article .medium-up-8 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .medium-collapse > .column, #spectacle .medium-collapse > .columns, #spectacle article .prop-row .medium-collapse > .prop-name, #spectacle article .prop-row .medium-collapse > .prop-value, #spectacle article .medium-collapse > .doc-copy, #spectacle article .medium-collapse > .doc-examples {
        padding-right: 0;
        padding-left: 0;
    }

    #spectacle .medium-collapse .row, #spectacle .medium-collapse article .prop-row, #spectacle article .medium-collapse .prop-row, #spectacle .medium-collapse article .doc-row, #spectacle article .medium-collapse .doc-row {
        margin-right: 0;
        margin-left: 0;
    }

    #spectacle .expanded.row .medium-collapse.row, #spectacle article .expanded.prop-row .medium-collapse.row, #spectacle article .expanded.doc-row .medium-collapse.row, #spectacle .expanded.row article .medium-collapse.prop-row, #spectacle article .expanded.row .medium-collapse.prop-row, #spectacle article .expanded.prop-row .medium-collapse.prop-row, #spectacle article .expanded.doc-row .medium-collapse.prop-row, #spectacle .expanded.row article .medium-collapse.doc-row, #spectacle article .expanded.row .medium-collapse.doc-row, #spectacle article .expanded.prop-row .medium-collapse.doc-row, #spectacle article .expanded.doc-row .medium-collapse.doc-row {
        margin-right: 0;
        margin-left: 0;
    }

    #spectacle .medium-uncollapse > .column, #spectacle .medium-uncollapse > .columns, #spectacle article .prop-row .medium-uncollapse > .prop-name, #spectacle article .prop-row .medium-uncollapse > .prop-value, #spectacle article .medium-uncollapse > .doc-copy, #spectacle article .medium-uncollapse > .doc-examples {
        padding-right: 0.9868421053rem;
        padding-left: 0.9868421053rem;
    }

    #spectacle .medium-centered {
        margin-right: auto;
        margin-left: auto;
    }

    #spectacle .medium-centered, #spectacle .medium-centered:last-child:not(:first-child) {
        float: none;
        clear: both;
    }

    #spectacle .medium-uncentered,
    #spectacle .medium-push-0,
    #spectacle .medium-pull-0 {
        position: static;
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
}

@media print, screen and (min-width: 64em) {
    #spectacle .large-1 {
        width: 8.3333333333%;
    }

    #spectacle .large-push-1 {
        position: relative;
        left: 8.3333333333%;
    }

    #spectacle .large-pull-1 {
        position: relative;
        left: -8.3333333333%;
    }

    #spectacle .large-offset-0 {
        margin-left: 0%;
    }

    #spectacle .large-2 {
        width: 16.6666666667%;
    }

    #spectacle .large-push-2 {
        position: relative;
        left: 16.6666666667%;
    }

    #spectacle .large-pull-2 {
        position: relative;
        left: -16.6666666667%;
    }

    #spectacle .large-offset-1 {
        margin-left: 8.3333333333%;
    }

    #spectacle .large-3 {
        width: 25%;
    }

    #spectacle .large-push-3 {
        position: relative;
        left: 25%;
    }

    #spectacle .large-pull-3 {
        position: relative;
        left: -25%;
    }

    #spectacle .large-offset-2 {
        margin-left: 16.6666666667%;
    }

    #spectacle .large-4 {
        width: 33.3333333333%;
    }

    #spectacle .large-push-4 {
        position: relative;
        left: 33.3333333333%;
    }

    #spectacle .large-pull-4 {
        position: relative;
        left: -33.3333333333%;
    }

    #spectacle .large-offset-3 {
        margin-left: 25%;
    }

    #spectacle .large-5 {
        width: 41.6666666667%;
    }

    #spectacle .large-push-5 {
        position: relative;
        left: 41.6666666667%;
    }

    #spectacle .large-pull-5 {
        position: relative;
        left: -41.6666666667%;
    }

    #spectacle .large-offset-4 {
        margin-left: 33.3333333333%;
    }

    #spectacle .large-6, #spectacle .doc-content, #spectacle article h1.doc-title, #spectacle article > h1, #spectacle article > h2, #spectacle article .panel > h2, #spectacle article .panel > h3, #spectacle article .doc-copy, #spectacle article .doc-examples {
        width: 50%;
    }

    #spectacle .large-push-6 {
        position: relative;
        left: 50%;
    }

    #spectacle .large-pull-6 {
        position: relative;
        left: -50%;
    }

    #spectacle .large-offset-5 {
        margin-left: 41.6666666667%;
    }

    #spectacle .large-7 {
        width: 58.3333333333%;
    }

    #spectacle .large-push-7 {
        position: relative;
        left: 58.3333333333%;
    }

    #spectacle .large-pull-7 {
        position: relative;
        left: -58.3333333333%;
    }

    #spectacle .large-offset-6 {
        margin-left: 50%;
    }

    #spectacle .large-8 {
        width: 66.6666666667%;
    }

    #spectacle .large-push-8 {
        position: relative;
        left: 66.6666666667%;
    }

    #spectacle .large-pull-8 {
        position: relative;
        left: -66.6666666667%;
    }

    #spectacle .large-offset-7 {
        margin-left: 58.3333333333%;
    }

    #spectacle .large-9 {
        width: 75%;
    }

    #spectacle .large-push-9 {
        position: relative;
        left: 75%;
    }

    #spectacle .large-pull-9 {
        position: relative;
        left: -75%;
    }

    #spectacle .large-offset-8 {
        margin-left: 66.6666666667%;
    }

    #spectacle .large-10 {
        width: 83.3333333333%;
    }

    #spectacle .large-push-10 {
        position: relative;
        left: 83.3333333333%;
    }

    #spectacle .large-pull-10 {
        position: relative;
        left: -83.3333333333%;
    }

    #spectacle .large-offset-9 {
        margin-left: 75%;
    }

    #spectacle .large-11 {
        width: 91.6666666667%;
    }

    #spectacle .large-push-11 {
        position: relative;
        left: 91.6666666667%;
    }

    #spectacle .large-pull-11 {
        position: relative;
        left: -91.6666666667%;
    }

    #spectacle .large-offset-10 {
        margin-left: 83.3333333333%;
    }

    #spectacle .large-12 {
        width: 100%;
    }

    #spectacle .large-offset-11 {
        margin-left: 91.6666666667%;
    }

    #spectacle .large-up-1 > .column, #spectacle .large-up-1 > .columns, #spectacle article .prop-row .large-up-1 > .prop-name, #spectacle article .prop-row .large-up-1 > .prop-value, #spectacle article .large-up-1 > .doc-copy, #spectacle article .large-up-1 > .doc-examples {
        float: left;
        width: 100%;
    }

    #spectacle .large-up-1 > .column:nth-of-type(1n), #spectacle .large-up-1 > .columns:nth-of-type(1n), #spectacle article .prop-row .large-up-1 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .large-up-1 > .prop-value:nth-of-type(1n), #spectacle article .large-up-1 > .doc-copy:nth-of-type(1n), #spectacle article .large-up-1 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .large-up-1 > .column:nth-of-type(1n+1), #spectacle .large-up-1 > .columns:nth-of-type(1n+1), #spectacle article .prop-row .large-up-1 > .prop-name:nth-of-type(1n+1), #spectacle article .prop-row .large-up-1 > .prop-value:nth-of-type(1n+1), #spectacle article .large-up-1 > .doc-copy:nth-of-type(1n+1), #spectacle article .large-up-1 > .doc-examples:nth-of-type(1n+1) {
        clear: both;
    }

    #spectacle .large-up-1 > .column:last-child, #spectacle .large-up-1 > .columns:last-child, #spectacle article .prop-row .large-up-1 > .prop-name:last-child, #spectacle article .prop-row .large-up-1 > .prop-value:last-child, #spectacle article .large-up-1 > .doc-copy:last-child, #spectacle article .large-up-1 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .large-up-2 > .column, #spectacle .large-up-2 > .columns, #spectacle article .prop-row .large-up-2 > .prop-name, #spectacle article .prop-row .large-up-2 > .prop-value, #spectacle article .large-up-2 > .doc-copy, #spectacle article .large-up-2 > .doc-examples {
        float: left;
        width: 50%;
    }

    #spectacle .large-up-2 > .column:nth-of-type(1n), #spectacle .large-up-2 > .columns:nth-of-type(1n), #spectacle article .prop-row .large-up-2 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .large-up-2 > .prop-value:nth-of-type(1n), #spectacle article .large-up-2 > .doc-copy:nth-of-type(1n), #spectacle article .large-up-2 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .large-up-2 > .column:nth-of-type(2n+1), #spectacle .large-up-2 > .columns:nth-of-type(2n+1), #spectacle article .prop-row .large-up-2 > .prop-name:nth-of-type(2n+1), #spectacle article .prop-row .large-up-2 > .prop-value:nth-of-type(2n+1), #spectacle article .large-up-2 > .doc-copy:nth-of-type(2n+1), #spectacle article .large-up-2 > .doc-examples:nth-of-type(2n+1) {
        clear: both;
    }

    #spectacle .large-up-2 > .column:last-child, #spectacle .large-up-2 > .columns:last-child, #spectacle article .prop-row .large-up-2 > .prop-name:last-child, #spectacle article .prop-row .large-up-2 > .prop-value:last-child, #spectacle article .large-up-2 > .doc-copy:last-child, #spectacle article .large-up-2 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .large-up-3 > .column, #spectacle .large-up-3 > .columns, #spectacle article .prop-row .large-up-3 > .prop-name, #spectacle article .prop-row .large-up-3 > .prop-value, #spectacle article .large-up-3 > .doc-copy, #spectacle article .large-up-3 > .doc-examples {
        float: left;
        width: 33.3333333333%;
    }

    #spectacle .large-up-3 > .column:nth-of-type(1n), #spectacle .large-up-3 > .columns:nth-of-type(1n), #spectacle article .prop-row .large-up-3 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .large-up-3 > .prop-value:nth-of-type(1n), #spectacle article .large-up-3 > .doc-copy:nth-of-type(1n), #spectacle article .large-up-3 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .large-up-3 > .column:nth-of-type(3n+1), #spectacle .large-up-3 > .columns:nth-of-type(3n+1), #spectacle article .prop-row .large-up-3 > .prop-name:nth-of-type(3n+1), #spectacle article .prop-row .large-up-3 > .prop-value:nth-of-type(3n+1), #spectacle article .large-up-3 > .doc-copy:nth-of-type(3n+1), #spectacle article .large-up-3 > .doc-examples:nth-of-type(3n+1) {
        clear: both;
    }

    #spectacle .large-up-3 > .column:last-child, #spectacle .large-up-3 > .columns:last-child, #spectacle article .prop-row .large-up-3 > .prop-name:last-child, #spectacle article .prop-row .large-up-3 > .prop-value:last-child, #spectacle article .large-up-3 > .doc-copy:last-child, #spectacle article .large-up-3 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .large-up-4 > .column, #spectacle .large-up-4 > .columns, #spectacle article .prop-row .large-up-4 > .prop-name, #spectacle article .prop-row .large-up-4 > .prop-value, #spectacle article .large-up-4 > .doc-copy, #spectacle article .large-up-4 > .doc-examples {
        float: left;
        width: 25%;
    }

    #spectacle .large-up-4 > .column:nth-of-type(1n), #spectacle .large-up-4 > .columns:nth-of-type(1n), #spectacle article .prop-row .large-up-4 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .large-up-4 > .prop-value:nth-of-type(1n), #spectacle article .large-up-4 > .doc-copy:nth-of-type(1n), #spectacle article .large-up-4 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .large-up-4 > .column:nth-of-type(4n+1), #spectacle .large-up-4 > .columns:nth-of-type(4n+1), #spectacle article .prop-row .large-up-4 > .prop-name:nth-of-type(4n+1), #spectacle article .prop-row .large-up-4 > .prop-value:nth-of-type(4n+1), #spectacle article .large-up-4 > .doc-copy:nth-of-type(4n+1), #spectacle article .large-up-4 > .doc-examples:nth-of-type(4n+1) {
        clear: both;
    }

    #spectacle .large-up-4 > .column:last-child, #spectacle .large-up-4 > .columns:last-child, #spectacle article .prop-row .large-up-4 > .prop-name:last-child, #spectacle article .prop-row .large-up-4 > .prop-value:last-child, #spectacle article .large-up-4 > .doc-copy:last-child, #spectacle article .large-up-4 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .large-up-5 > .column, #spectacle .large-up-5 > .columns, #spectacle article .prop-row .large-up-5 > .prop-name, #spectacle article .prop-row .large-up-5 > .prop-value, #spectacle article .large-up-5 > .doc-copy, #spectacle article .large-up-5 > .doc-examples {
        float: left;
        width: 20%;
    }

    #spectacle .large-up-5 > .column:nth-of-type(1n), #spectacle .large-up-5 > .columns:nth-of-type(1n), #spectacle article .prop-row .large-up-5 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .large-up-5 > .prop-value:nth-of-type(1n), #spectacle article .large-up-5 > .doc-copy:nth-of-type(1n), #spectacle article .large-up-5 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .large-up-5 > .column:nth-of-type(5n+1), #spectacle .large-up-5 > .columns:nth-of-type(5n+1), #spectacle article .prop-row .large-up-5 > .prop-name:nth-of-type(5n+1), #spectacle article .prop-row .large-up-5 > .prop-value:nth-of-type(5n+1), #spectacle article .large-up-5 > .doc-copy:nth-of-type(5n+1), #spectacle article .large-up-5 > .doc-examples:nth-of-type(5n+1) {
        clear: both;
    }

    #spectacle .large-up-5 > .column:last-child, #spectacle .large-up-5 > .columns:last-child, #spectacle article .prop-row .large-up-5 > .prop-name:last-child, #spectacle article .prop-row .large-up-5 > .prop-value:last-child, #spectacle article .large-up-5 > .doc-copy:last-child, #spectacle article .large-up-5 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .large-up-6 > .column, #spectacle .large-up-6 > .columns, #spectacle article .prop-row .large-up-6 > .prop-name, #spectacle article .prop-row .large-up-6 > .prop-value, #spectacle article .large-up-6 > .doc-copy, #spectacle article .large-up-6 > .doc-examples {
        float: left;
        width: 16.6666666667%;
    }

    #spectacle .large-up-6 > .column:nth-of-type(1n), #spectacle .large-up-6 > .columns:nth-of-type(1n), #spectacle article .prop-row .large-up-6 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .large-up-6 > .prop-value:nth-of-type(1n), #spectacle article .large-up-6 > .doc-copy:nth-of-type(1n), #spectacle article .large-up-6 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .large-up-6 > .column:nth-of-type(6n+1), #spectacle .large-up-6 > .columns:nth-of-type(6n+1), #spectacle article .prop-row .large-up-6 > .prop-name:nth-of-type(6n+1), #spectacle article .prop-row .large-up-6 > .prop-value:nth-of-type(6n+1), #spectacle article .large-up-6 > .doc-copy:nth-of-type(6n+1), #spectacle article .large-up-6 > .doc-examples:nth-of-type(6n+1) {
        clear: both;
    }

    #spectacle .large-up-6 > .column:last-child, #spectacle .large-up-6 > .columns:last-child, #spectacle article .prop-row .large-up-6 > .prop-name:last-child, #spectacle article .prop-row .large-up-6 > .prop-value:last-child, #spectacle article .large-up-6 > .doc-copy:last-child, #spectacle article .large-up-6 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .large-up-7 > .column, #spectacle .large-up-7 > .columns, #spectacle article .prop-row .large-up-7 > .prop-name, #spectacle article .prop-row .large-up-7 > .prop-value, #spectacle article .large-up-7 > .doc-copy, #spectacle article .large-up-7 > .doc-examples {
        float: left;
        width: 14.2857142857%;
    }

    #spectacle .large-up-7 > .column:nth-of-type(1n), #spectacle .large-up-7 > .columns:nth-of-type(1n), #spectacle article .prop-row .large-up-7 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .large-up-7 > .prop-value:nth-of-type(1n), #spectacle article .large-up-7 > .doc-copy:nth-of-type(1n), #spectacle article .large-up-7 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .large-up-7 > .column:nth-of-type(7n+1), #spectacle .large-up-7 > .columns:nth-of-type(7n+1), #spectacle article .prop-row .large-up-7 > .prop-name:nth-of-type(7n+1), #spectacle article .prop-row .large-up-7 > .prop-value:nth-of-type(7n+1), #spectacle article .large-up-7 > .doc-copy:nth-of-type(7n+1), #spectacle article .large-up-7 > .doc-examples:nth-of-type(7n+1) {
        clear: both;
    }

    #spectacle .large-up-7 > .column:last-child, #spectacle .large-up-7 > .columns:last-child, #spectacle article .prop-row .large-up-7 > .prop-name:last-child, #spectacle article .prop-row .large-up-7 > .prop-value:last-child, #spectacle article .large-up-7 > .doc-copy:last-child, #spectacle article .large-up-7 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .large-up-8 > .column, #spectacle .large-up-8 > .columns, #spectacle article .prop-row .large-up-8 > .prop-name, #spectacle article .prop-row .large-up-8 > .prop-value, #spectacle article .large-up-8 > .doc-copy, #spectacle article .large-up-8 > .doc-examples {
        float: left;
        width: 12.5%;
    }

    #spectacle .large-up-8 > .column:nth-of-type(1n), #spectacle .large-up-8 > .columns:nth-of-type(1n), #spectacle article .prop-row .large-up-8 > .prop-name:nth-of-type(1n), #spectacle article .prop-row .large-up-8 > .prop-value:nth-of-type(1n), #spectacle article .large-up-8 > .doc-copy:nth-of-type(1n), #spectacle article .large-up-8 > .doc-examples:nth-of-type(1n) {
        clear: none;
    }

    #spectacle .large-up-8 > .column:nth-of-type(8n+1), #spectacle .large-up-8 > .columns:nth-of-type(8n+1), #spectacle article .prop-row .large-up-8 > .prop-name:nth-of-type(8n+1), #spectacle article .prop-row .large-up-8 > .prop-value:nth-of-type(8n+1), #spectacle article .large-up-8 > .doc-copy:nth-of-type(8n+1), #spectacle article .large-up-8 > .doc-examples:nth-of-type(8n+1) {
        clear: both;
    }

    #spectacle .large-up-8 > .column:last-child, #spectacle .large-up-8 > .columns:last-child, #spectacle article .prop-row .large-up-8 > .prop-name:last-child, #spectacle article .prop-row .large-up-8 > .prop-value:last-child, #spectacle article .large-up-8 > .doc-copy:last-child, #spectacle article .large-up-8 > .doc-examples:last-child {
        float: left;
    }

    #spectacle .large-collapse > .column, #spectacle .large-collapse > .columns, #spectacle article .prop-row .large-collapse > .prop-name, #spectacle article .prop-row .large-collapse > .prop-value, #spectacle article .large-collapse > .doc-copy, #spectacle article .large-collapse > .doc-examples {
        padding-right: 0;
        padding-left: 0;
    }

    #spectacle .large-collapse .row, #spectacle .large-collapse article .prop-row, #spectacle article .large-collapse .prop-row, #spectacle .large-collapse article .doc-row, #spectacle article .large-collapse .doc-row {
        margin-right: 0;
        margin-left: 0;
    }

    #spectacle .expanded.row .large-collapse.row, #spectacle article .expanded.prop-row .large-collapse.row, #spectacle article .expanded.doc-row .large-collapse.row, #spectacle .expanded.row article .large-collapse.prop-row, #spectacle article .expanded.row .large-collapse.prop-row, #spectacle article .expanded.prop-row .large-collapse.prop-row, #spectacle article .expanded.doc-row .large-collapse.prop-row, #spectacle .expanded.row article .large-collapse.doc-row, #spectacle article .expanded.row .large-collapse.doc-row, #spectacle article .expanded.prop-row .large-collapse.doc-row, #spectacle article .expanded.doc-row .large-collapse.doc-row {
        margin-right: 0;
        margin-left: 0;
    }

    #spectacle .large-uncollapse > .column, #spectacle .large-uncollapse > .columns, #spectacle article .prop-row .large-uncollapse > .prop-name, #spectacle article .prop-row .large-uncollapse > .prop-value, #spectacle article .large-uncollapse > .doc-copy, #spectacle article .large-uncollapse > .doc-examples {
        padding-right: 0.9868421053rem;
        padding-left: 0.9868421053rem;
    }

    #spectacle .large-centered {
        margin-right: auto;
        margin-left: auto;
    }

    #spectacle .large-centered, #spectacle .large-centered:last-child:not(:first-child) {
        float: none;
        clear: both;
    }

    #spectacle .large-uncentered,
    #spectacle .large-push-0,
    #spectacle .large-pull-0 {
        position: static;
        float: left;
        margin-right: 0;
        margin-left: 0;
    }
}

#spectacle .column-block {
    margin-bottom: 1.3157894737rem;
}

#spectacle .column-block > :last-child {
    margin-bottom: 0;
}

@media print, screen and (min-width: 40em) {
    #spectacle .column-block {
        margin-bottom: 1.9736842105rem;
    }

    #spectacle .column-block > :last-child {
        margin-bottom: 0;
    }
}

#spectacle #sidebar {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    border-right: 1px solid #eee;
    background-color: #f6f6f6;
    height: 100vh;
    overflow: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    width: 250px;
}

#spectacle #sidebar h5 {
    margin: 1.5rem 0 0.65rem;
    text-transform: uppercase;
    color: #b6b6b6;
    font-size: 0.9rem;
}

#spectacle #sidebar a {
    display: block;
    margin: 0 0 0.25rem;
    color: #4a5055;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#spectacle #sidebar a.active {
    color: #1779ba;
}

#spectacle #sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0.75rem 0.75rem;
}

#spectacle #sidebar section > ul {
    display: none;
}

#spectacle #sidebar section.expand > ul {
    display: block;
}

#spectacle #sidebar .close-button {
    opacity: 0.5;
}

#spectacle .doc-content, #spectacle article h1.doc-title, #spectacle article > h1, #spectacle article > h2, #spectacle article .panel > h2, #spectacle article .panel > h3, #spectacle article .doc-copy, #spectacle article .doc-examples {
    padding-left: 2.25rem !important;
    padding-right: 2.25rem !important;
}

#spectacle .doc-separator, #spectacle article h2 {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid #e2e2e2;
}

#spectacle #docs {
    background: #fefefe;
    overflow: hidden;
    position: relative;
}

#spectacle #docs .example-box {
    display: none;
}

@media print, screen and (min-width: 64em) {
    #spectacle #docs .example-box {
        display: block;
        background-color: #2d3134;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

#spectacle article {
    position: relative;
}

#spectacle article .no-description {
    color: #8a8a8a;
}

#spectacle article dt {
    color: #2d3134;
}

#spectacle article table.table {
    width: 100%;
}

#spectacle article code {
    font-size: 0.9em;
    border-radius: 3px;
    overflow-wrap: break-word;
}

#spectacle article p:last-child:first-child {
    margin-bottom: 0;
}

#spectacle article h1 {
    margin: 2.5rem 0 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e2e2e2;
    background-color: #f6f6f6;
}

#spectacle article h1.doc-title {
    margin: 0;
    padding-top: 2.15rem;
    padding-bottom: 0;
    font-weight: bold;
    background: transparent;
    border: none;
    color: #535b60;
}

#spectacle article h1.doc-title span {
    display: none;
    opacity: 0.65;
    margin-left: 5px;
    font-weight: normal;
}

#spectacle article h2 {
    margin-bottom: 0;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-bottom: 0.25rem;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

#spectacle article h3 {
    margin: 0rem 0 0.75rem;
}

#spectacle article h1 + .panel > h2 {
    margin-top: 0;
    border-top: none;
}

#spectacle article h1 + .tag-description + .panel > h2 {
    margin-top: 2rem;
}

#spectacle article h1 + .panel h3 {
    margin-top: 1rem;
}

#spectacle article .panel {
    position: relative;
}

#spectacle article .prop-row {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-top: 1px solid #eee;
}

#spectacle article .prop-row:first-child, #spectacle article .prop-row.prop-group {
    border-top: 1px solid #ddd;
}

#spectacle article .prop-row .prop-title {
    font-weight: bold;
}

#spectacle article .prop-row .prop-type {
    font-weight: 400;
}

#spectacle article .prop-row .prop-subtitle {
    font-weight: 400;
    font-size: 80%;
}

#spectacle article .prop-row .prop-name {
    text-align: right;
    padding-right: 0.85rem !important;
    word-break: break-word;
}

#spectacle article .prop-row .prop-value {
    padding-left: 0.85rem !important;
    word-wrap: break-word;
}

#spectacle article .prop-row.prop-inner {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 80%;
}

#spectacle article .prop-row.prop-inner .prop-name {
    color: #8a8a8a;
}

#spectacle article .prop-row.prop-inner .prop-value > span {
    display: block;
}

#spectacle article .prop-row.prop-inner .prop-value > span:before {
    color: #8a8a8a;
}

#spectacle article .prop-row.prop-inner .prop-value > span:after {
    color: #8a8a8a;
}

#spectacle article .prop-row.prop-inner .prop-value > span.json-property-type, #spectacle article .prop-row.prop-inner .prop-value > span.json-property-format {
    display: inline-block;
}

#spectacle article .doc-row {
    margin: 2rem 0 20px;
}

#spectacle article .doc-examples {
    padding-left: 2.25rem !important;
    padding-right: 2.25rem !important;
    color: #fefefe;
    background-color: #2d3134;
}

#spectacle article .doc-examples h5 {
    color: #fefefe;
    font-size: 1rem;
    opacity: 0.8;
}

#spectacle article .doc-examples h5 span {
    opacity: 0.5;
}

@media screen and (max-width: 63.9375em) {
    #spectacle article .doc-examples:not(:empty) {
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
    }
}

#spectacle article .doc-examples code {
    display: block;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #404040;
    border-radius: 5px;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.33) inset;
    word-spacing: normal;
    white-space: pre-wrap;
    word-break: normal;
}

#spectacle article .doc-examples tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: #353a3d;
}

#spectacle article .doc-examples tbody, #spectacle article .doc-examples tfoot, #spectacle article .doc-examples thead {
    color: #FFFFFF;
    background-color: #2d3134;
    border: 0px;
}

#spectacle article .doc-examples thead {
    background-color: #2d3134;
}

#spectacle article .doc-examples .swagger-response-headers {
    background-color: transparent;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #404040;
    border-radius: 5px;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.33) inset;
    margin-bottom: 1.5rem;
}

#spectacle article .doc-examples .swagger-response-headers thead {
    color: #fefefe;
    font-size: 1rem;
    opacity: 0.8;
    background-color: transparent;
    border: none;
}

#spectacle article .doc-examples .swagger-response-headers tbody {
    border: none;
    background-color: transparent;
}

#spectacle article .doc-examples .swagger-response-headers tbody tr {
    background-color: transparent;
    border-top: 1px solid #404040;
}

#spectacle article .powered-by {
    font-size: 80%;
    color: #cacaca;
}

#spectacle article .powered-by span {
    color: #f68b1f;
}

#spectacle article .operation .operation-tags {
    position: absolute;
    top: 0;
    text-align: right;
    right: 0;
}

#spectacle article .operation .operation-tags .label {
    cursor: pointer;
}

#spectacle article .operation .operation-tags .label:hover {
    color: #e6e6e6;
}

@media print, screen and (min-width: 64em) {
    #spectacle article .operation .operation-tags {
        right: 50%;
    }
}

#spectacle article .operation .operation-path {
    word-break: break-all;
}

#spectacle article .security-definition-description {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

#spectacle article .security-definition-scope-description {
    color: #8a8a8a;
    margin-bottom: .5rem;
}

#spectacle article .definition .doc-examples h5 {
    margin-top: -1rem;
}

#spectacle article .definition .doc-copy > section {
    margin-bottom: 1rem;
}

#spectacle article .definition .doc-copy > section > .json-property-type {
    display: none;
}

#spectacle article .definition dl dt {
    font-weight: normal;
}

#spectacle article .definition dl dd {
    font-style: italic;
}

#spectacle article .definition .json-property-name {
    font-weight: bold;
}

#spectacle article .hljs {
    line-height: 1.25;
    overflow-x: auto;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: none;
}

#spectacle .drawer-layout .drawer {
    box-shadow: 0 0 10px rgba(45, 49, 52, 0.5);
    transition: transform 0.5s ease;
    backface-visibility: hidden;
}

#spectacle .drawer-layout .drawer.slide-left {
    transform: translateX(-250px);
}

#spectacle .drawer-layout .drawer.slide-right {
    transform: translateX(250px);
}

#spectacle .drawer-layout .drawer .drawer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(254, 254, 254, 0.25);
}

@media print, screen and (min-width: 64em) {
    #spectacle .drawer-layout .drawer.slide-left {
        transform: none;
        margin-left: -250px;
    }

    #spectacle .drawer-layout .drawer.slide-right {
        transform: none;
        margin-left: 250px;
    }

    #spectacle .drawer-layout .drawer .drawer-overlay {
        display: none;
    }
}

@media print, screen and (min-width: 64em) {
    #spectacle .drawer-layout.drawer-slide-left-large .drawer {
        margin-left: -250px;
    }

    #spectacle .drawer-layout.drawer-slide-left-large .floating-menu-icon {
        opacity: 0;
    }

    #spectacle .drawer-layout.drawer-slide-right-large .drawer {
        margin-left: 250px;
    }

    #spectacle .drawer-layout.drawer-slide-right-large .floating-menu-icon {
        opacity: 0;
    }
}

#spectacle .drawer-layout.drawer-open .floating-menu-icon {
    opacity: 0;
}

#spectacle .drawer-layout .floating-menu-icon {
    position: fixed;
    top: 0.75rem;
    right: 0.75rem;
    background-color: rgba(45, 49, 52, 0.75);
    padding: 0.65rem;
    z-index: 1;
    border-radius: 5px;
    transition: opacity 0.5s linear;
}

#spectacle .drawer-layout .floating-menu-icon .hamburger {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 16px;
    cursor: pointer;
}

#spectacle .drawer-layout .floating-menu-icon .hamburger::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fefefe;
    box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
    content: '';
}

#spectacle .drawer-layout .floating-menu-icon .hamburger:hover::after {
    background: #cacaca;
    box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca;
}

#spectacle .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f;
}

#spectacle .hljs,
#spectacle .hljs-tag,
#spectacle .hljs-subst {
    color: #f8f8f2;
}

#spectacle .hljs-strong,
#spectacle .hljs-emphasis {
    color: #a8a8a2;
}

#spectacle .hljs-bullet,
#spectacle .hljs-quote,
#spectacle .hljs-number,
#spectacle .hljs-regexp,
#spectacle .hljs-literal,
#spectacle .hljs-link {
    color: #ae81ff;
}

#spectacle .hljs-code,
#spectacle .hljs-title,
#spectacle .hljs-section,
#spectacle .hljs-selector-class {
    color: #a6e22e;
}

#spectacle .hljs-strong {
    font-weight: bold;
}

#spectacle .hljs-emphasis {
    font-style: italic;
}

#spectacle .hljs-keyword,
#spectacle .hljs-selector-tag,
#spectacle .hljs-name,
#spectacle .hljs-attr {
    color: #f92672;
}

#spectacle .hljs-symbol,
#spectacle .hljs-attribute {
    color: #66d9ef;
}

#spectacle .hljs-params,
#spectacle .hljs-class .hljs-title {
    color: #f8f8f2;
}

#spectacle .hljs-string,
#spectacle .hljs-type,
#spectacle .hljs-built_in,
#spectacle .hljs-builtin-name,
#spectacle .hljs-selector-id,
#spectacle .hljs-selector-attr,
#spectacle .hljs-selector-pseudo,
#spectacle .hljs-addition,
#spectacle .hljs-variable,
#spectacle .hljs-template-variable {
    color: #e6db74;
}

#spectacle .hljs-comment,
#spectacle .hljs-deletion,
#spectacle .hljs-meta {
    color: #75715e;
}
